.data {
    -webkit-justify-content: center;
    justify-content: center;
    display: flex;
}

.dataCard {
    margin: 0px 4px 0px 4px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    margin: 4px;
    width: 35%;
    background-color: rgba(0, 0, 0, 0.3);
}

.dataElement {
    margin: 4px;
    display: block;
}

.button {
    cursor: pointer;
    margin: 8px;
    
}

.dataTitle {
    font-style: oblique;
    font-size: 1.2rem;
}
