.presets {
    margin: 4px;
}

.presetText {
    font-size: 1.2rem;
    text-align: center;
}

.presetButton {
    margin: 4px;
}

.presetDropdown {
    font-size: 1.2rem;
    text-align: center;
}

.plusminus {
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    padding: 0;
    background: none;
    border: none;
}

    .plusminus:hover, active, focus {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.7);
        padding: 0;
        background: none;
        border: none;
        transition: none;
        font-size: 2.4rem;
    }

.evolutionComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.incrementSpread {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.value {
    font-size: 1.8rem;
    width: 1ch;
    margin: 4px 8px 4px 8px;
}

.incrementButton {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
