.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    fill: white;
    width: 300px;
    z-index: 1;
    position: relative;
}

.logoQuestionMark {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
